<!-- This command is what will get this partial loaded onto the base html file -->
{%extends "blog/base.html" %}
<!-- Then put everything in some two special tags -->
{% block content %}

{% for post in posts %}
<div class="post">
	<div class="date">
		{{ post.published_date }}
	</div>
	<!-- Add a link to a special partial for viewing only one item, primary key=post.primary key? -->
	<h1><a href="{% url "blog.views.post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
	<p>{{ post.text|linebreaks }}</p>
</div>
{% endfor %}

<!-- close our special tag -->
{% endblock content %}
